---
interface Props {
	config: {
		enable: boolean;
		envId: string;
	};
	path?: string;
	class?: string;
}

const { path, class: className, config } = Astro.props;
const { enable } = config;
---

{enable && (
    <div id="tcomment" class={className} data-twikoo-path={path}></div>
)}
