---
import { getRuntimeState } from "@/server/runtime-state";
import { siteConfig } from "../config";

const { siteConfig: runtimeSiteConfig } = await getRuntimeState();
const config = runtimeSiteConfig || siteConfig;
---

<div id="config-carrier" data-hue={config.themeColor.hue}>
</div>
